<h2>Products</h2>

<div *ngFor="let product of products; index as productId">
  <h3>
    <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">Description: {{ product.description }}</p>

  <button (click)="share()">Share</button>

  <app-product-alerts [product]="product" (notify)="onNotify($event)"> </app-product-alerts>
</div>

<br /><br />
<div>
  <h2>Exemple de liaison bidirectionnelle avec [(ngModel)]</h2>
  <label> Random ID : </label>
  <input [(ngModel)]="id" type="number" />

  <p>{{ id }}</p>
  <button class="button" (click)="randomID()">GenerateID</button>
</div>
